<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UDI" connectionString="Data Source=172.20.8.10 ;Initial Catalog=UDI ;User Id=dcs_prd_ap;Password=dcsP@P; Application Name=SmartQuery;Encrypt=false; "  providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="DatabaseConnectionString" value="your_connection_string" />
    <add key="LoggingEnabled" value="true" />

  </appSettings>
</configuration>
